@import "tailwindcss";



/* arquivo CSS global */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


*{
  box-sizing: border-box;
}
.tduvida{
  text-align: left;
  border: 20px;
  
  box-sizing: border-box;
}

.tduvida h3 {
  background-color: #F7CD21;
  padding-inline: 10px;
 
  
}

.tduvida p{
  padding-inline: 10px;
  

}

.tduvida div {border: 2px solid #F7CD21;
  width: 100%;
margin-right: 0px;
margin-bottom: 10px;
}

.linkct a:hover {
  color: rgb(24, 24, 163);
}
.no-spinner {
  -moz-appearance: textfield; 
   appearance: none; 
}


body {
    background-image:
    /* linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 100, 0.6)
    ), */
    url('https://www.publicdomainpictures.net/pictures/40000/nahled/--1359709322C31.jpg');
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
  font-family: "Merriweather Sans", sans-serif;
}
#root {
  margin: 0 auto;
  padding:0;

}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;

}

html, body, #root {
  min-height: 100dvh;
  
}

body{
  margin: 0 auto
}




