:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  align-items: center;

}

*{
  font-family: "Saira Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 109%; /* 18px em vez de 16px */
}





